nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 155px;
    background: url('img/parrot.jpeg');
    background-position: center -114px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 45px;
    margin-top: 110px;
    text-align: center;
    background: black;
    opacity: 0.6;

    li {
        display: inline;
    }
    
    .nav_link {
        text-decoration: none;
        width: 80px;
        color: #ffffff;
        font-family: 'Oswald', 'sans-serif';
        font-size: 26px;
        padding: 20px;;
    }
}

main {
    margin-top: 155px;
    background: #e9e9e9;
}

h1 {
    color: #121212;
    font-family: 'Oswald', 'sans-serif';
    font-size: 34px;
    font-weight: normal;
}

h2 {
    color: #121212;
    font-family: 'Oswald', 'sans-serif';
    font-size: 26px;
    font-weight: normal;
    position: relative;
    margin-left: 25px;
    display: block;
}

h2:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 8px;
    background: #933435;
    left: -26px;
    bottom: 0.5em;
}

.item {
    display: inline-block;

    img {
        display: inline-block;
        box-shadow: 0 0 5px 0;
    }

    .item_status {
        font-family: 'ArialMT', 'sans-serif';
        font-size: 11px;
    }

    .item_name {
        font-family: 'Oswald', 'sans-serif';
        font-size: 18px;
    }

    .item_link {
        background: #575757;
        width: 80px;
        height: 30px;
        font-family: ArialMT,Arial,sans-serif;
        font-size: 12px;
    }

}

.more_items {
    color: #444444;
    font-family: 'ArialMT', 'sans-serif';
    font-size: 16px;
    font-weight: normal;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: ArialMT;
    src: url(fonts/ARIALMT.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald.ttf);
}