footer {
    background: #181818;
    margin: 0;

    nav a {
        text-decoration: none;
        color: inherit;
    }
}

.footer_container {
    position: relative;
    max-width: 1172px;
    margin: auto;
}

.footer_container-top {
    box-sizing: border-box;
    height: 100%;
    padding-top: 20px;
}

.footer_top {
    height: 90px;
    background: #151515;
    color: #444444;

    a {
        display: inline-block;
        box-sizing: border-box;
        font-size: 32px;
        color: #2d2d2f;
        width: 15%;
        height: 100%;
        text-align: center;
        padding-top: 12px;
    }
    
    a:hover i {
        color: #999999;
    }
}

.footer_logo {
    box-sizing: border-box;
    height: 135px;
    font-family: 'Oswald', 'sans-serif';
    font-size: 36px;
    color: #444444;
    text-align: center;
}

.footer_logo:before { /* vertical align */
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.footer_column {
    display: block;
    text-align: center;
}

.footer_column_title {
    font-size: 26px;
    color: #444444;
    font-family: 'Oswald', 'sans-serif';
    font-weight: normal;
    margin: 16px 0;
}

.footer_column_list {
    list-style-type: none;
    font-size: 16px;
    color: #bbbbbb;
    font-family: 'Oswald', 'sans-serif';
    padding: 0;
    margin: 0 0 50px 0;
}

.footer_column_item {
    padding: 5px;
}

.requirements {
    text-align: center;
    opacity: 0.5;
    
    p {
        font-size: 14px;
        letter-spacing: 0px;
        color: rgb(92,92,92);
        font-family: "ArialMT";
        text-align: center;
    }
}

@media (min-width: 850px) {

    .footer_top a { width: 10%; }

    .footer_column { width: 20%; }

    .footer_logo {
        position: absolute;
        right: $main-padding;
        top: -70px;
        height: 70px;
        width: 33%;
        text-align: right;
    }
    
    .requirements {
        position: absolute;
        right: $main-padding;
        bottom: $bottom-margin;
        text-align: right;
        
        img {
            margin: 0 0 10px 0;
        }
        
        p {
            text-align: right;
            margin: 0;
        }
    }    
}

@media (min-width: 720px) {

    .footer_top {
        height: 70px;

        a {
            font-size: 48px;
        }
    }

    .footer_container-top {
        padding-top: 0;
    }

    .footer_column {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        max-width: 33%;
        padding: 0 3%;
        margin: 0;
    }

    .footer_column_list {
        margin-bottom: 30px;
    }
    
    .footer_column_item {
        margin: 9px 0 0 0;
        padding: 0;
    }
}